<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query result</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
    <div class="mainarea">
        <h1>Product data</h1>
        <p>Name: <%= result.name %></p>
        <p>Model: <%= result.model %></p>
        <p>Price: <%= result.price %></p>
        <p>Type: <%= result.type %></p>
        <div class="buttons">
            <a href="/" class="myButton">Menu</a>
        </div>
    </div>
</body>
</html>